.Welcome {
  text-align: center;
  font-size: 10rem;
  vertical-align: bottom;
  color: #242425;
}

.LandingHeader {
  text-align: center;
  font-size: 4rem;
  vertical-align: text-bottom;
  padding: 4px;
  color: #242425;
}

.EnterBtn {
  text-align: center;
  padding: 4px;
  color: #242425;
}
